<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <bean id="student" class="org.genspark.Student">
        <constructor-arg index="0" value="1000" />
        <constructor-arg index="1" value="Ray" />
        <constructor-arg index="2" ref="phone" />
        <constructor-arg index="3" ref="address" />
    </bean>

    <bean id="phone" class="org.genspark.Phone">
        <constructor-arg index="0" value="0123456789" />
    </bean>

    <bean id="address" class="org.genspark.Address">
        <constructor-arg index="0" value="El Paso" />
        <constructor-arg index="1" value="Texas" />
        <constructor-arg index="2" value="USA" />
        <constructor-arg index="3" value="01234" />
    </bean>
</beans>